{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Welcome {{ user.name }} {% endblock %}</h2>
<p>You are successfully authenticated. To continue this sample, please select an action below:</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Action</th>
            <th scope="col">API</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><a href='/graphprofile'>View Your Profile</a></th>
            <td>{{graph_api_endpoint}}</td>
        </tr>
        <tr>
            <th scope="row"><a href='/azureresources'>View Azure Resources</a></th>
            <td>{{arm_api_endpoint}}</td>
        </tr>
    </tbody>
</table>

<p>Your authentication token is displayed below:</p>
<pre style="background-color: lightgrey;">{{ user |tojson(indent=4) }}</pre> <!-- Just a generic json viewer -->

<p>Alteratively, you can <a href="/logout">Sign Out</a> and return to the home page.</p>

{% endblock %}