{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Consent Required{% endblock %}</h2>

<p>You have been redirected to this page because the current consent for a downstream API call was insufficient. Note the modification of the "prompt" parameter below:</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Param</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Authority</th>
            <td>{{ auth_uri.split('?')[0] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[0].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[0].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[1].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[1].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[2].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[2].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[3].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[3].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[4].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[4].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[5].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[5].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[6].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[6].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[7].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[7].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row">{{ auth_uri.split('?')[1].split('&')[8].split('=')[0] }}</th>
            <td>{{ auth_uri.split('?')[1].split('&')[8].split('=')[1] }}</td>
        </tr>
        <tr>
            <th scope="row" style="color: red;">{{ auth_uri.split('?')[1].split('&')[9].split('=')[0] }}</th>
            <td style="color: red;">{{ auth_uri.split('?')[1].split('&')[9].split('=')[1] }}</td>
        </tr>
    </tbody>
</table>

<p>Click the button below to grant consent for the application to access the requested permissions:</p>
<a class="btn btn-success" href="{{ auth_uri }}" role="button">Consent</a>

{% endblock %}