{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Profile: {{result.displayName}} {% endblock %}</h2>
<p>Hi {{result.givenName}}! The Graph API returned the following data from your profile.</p>
<pre style="background-color: lightgrey;">{{ result |tojson(indent=4) }}</pre> <!-- Just a generic json viewer -->

<p>Your access token is displayed below - copy and paste this into a JWT decoder such as jwt.ms to view additional information about the claims presented in this token.</p>

<div class="alert alert-danger" role="alert">
    <b>WARNING!</b> Do not share this token with anyone else as it can be used to impersonate your account.
</div>
<p class="text-break" style="background-color: lightgrey; font-family: 'Courier New', Courier, monospace; font-size: small;">{{access_token}}</p>

<p><a href="/logout">Sign Out</a> to return to the home page.</p>

{% endblock %}
