{% extends 'base.html' %}

{% block content %}

<h2>{% block title %} Welcome {% endblock %}</h2>
<p>You are not currently signed-in. <a href='{{ auth_uri }}'>Sign In</a> to your account to continue.</p>

<h3>Integrating Microsoft Entra ID with a Python web application written in Flask</h2>
  <p>
    This sample demonstrates how to sign users in and acquire tokens to call an API secured by Microsoft identity
    platform.
  </p>

  <img src="{{ url_for('static', filename='/img/topology.png') }}" class="image" />

  
  <h2>About</h2>
  <p>These code samples are built and maintained by Microsoft to demonstrate usage of our authentication libraries
    with
    the Microsoft identity platform. Common authentication and authorization scenarios are implemented in several
    application types, development languages, and frameworks.
  </p>
  <p> Detailed instructions on building, configuring and running this code sample can be found at <a href="https://github.com/Azure-Samples/ms-identity-docs-code-python/tree/main/flask-web-app">https://github.com/Azure-Samples/ms-identity-docs-code-python/tree/main/flask-web-app</a>   </p>
  {% endblock %}

  
